.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo_place_header {
  position: absolute;
  width: 228px;
  height: 32px;
  margin: 30px 64px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
  align-self: center;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0px;
  top: 64px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.two-columns {
  margin: 100px auto;
  display: flex;
  column-count: 2;
  color: #000000;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin: 100px auto;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between; 
}

.table__cell {
  width: 250px;
  margin: 60px auto 0;
  z-index: 1;
}  

 .section-title {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
} 

.feynman {
  background-color: #f2f2f2;
  position: relative;
  height: 890px;
}

.feynman__title {
  padding-top: 100px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;

}

.feynman__subtitle {
  margin: 70px auto auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 1;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: auto;
  top: 253px;
}

.feynman__link {
  position: absolute;
  min-width: 240px;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  
}

.kaufman {
  position: relative;
  background-color:  #1f1f1f;
  margin: 0 auto;
  padding-bottom: 90px;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0px;
  right: -210px;
}

.section-title_dark {
  color: white;
  width: 60%;
  padding-top: 90px;
}

.section-subtitle_dark {
  color: white;
  width: 60%;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} 
/* */

.footer {
  margin: 0 auto;
  color: white;
  display: flex;
  background-color:  #1f1f1f;
  min-height: 350px;
  padding: 60px auto 40px;
}

.footer__columns {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__column_links {
  list-style-type: none;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__social-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  margin: 0 auto;
}